{{ $ := .root }}
{{ $page := .page }}

<!-- Accomplishments widget -->   
  <div class="tabhead"><h2>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h2></div>     
    {{ with $page.Content }}{{ . }}{{ end }}
    {{ if $page.Params.item }}
   
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    <h2>{{ .title }}</h2>
                </div>
            </div>
        </div>
        {{ range $page.Params.item}}
        {{ "<!-- endorsement -->" | safeHTML }}
        <div class="row justify-content-center">              
            <div class="col-md-8">
                <img class="img-fluid" width="850px;" src="{{.endoimage | absURL }}" >                           
            </div> 
        </div>
        {{ "<!-- end endorsement -->" | safeHTML }}
        {{ end }}
    </div>
    <div class="text-center">
        <div class="more-view">
            <a href="http://www.linkedin.com/profile/view?id=229351" target="_blank">More..</a>
        </div>
    </div>
    {{end}}