{{ $ := .root }}
{{ $page := .page }}

<!-- Experience widget -->   
  <div class="tabhead"><h2>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h2></div>     
    {{ with $page.Content }}{{ . }}{{ end }}
    {{ if $page.Params.item }}
    <div class="tab">
        <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
            <li class="list-inline-item">
                <button class="tablinks" id="defaultOpen" onclick="openTest(event, 'Received')">Current</button>
            </li>
            <li class="list-inline-item">
                <button class="tablinks" onclick="openTest(event, 'Given')">Past</button>
            </li>
        </ul> 
    </div> 
    <div class="container">
      <div class="row">
        <div id="Received" class="tabcontent"><!-- Current tab content-->
            {{ range first 3 (sort $page.Params.item ".date_start" "desc") }}                            
              <article class="row">                             
                  <div class="col-md-1">
                      <img src="{{ .clientThumb | absURL }}" class="img-responsive" alt="client-image">                 
                  </div>
                  <div class="col-md-3">
                    <h4 class="card-title exp-title text-muted my-0">{{.title | markdownify | emojify}}</h4>                                                      
                    {{- .company | markdownify | emojify -}}                   
                    <!--<span class="middot-divider"></span>-->
                    {{ (time .date_start).Format ($page.Params.date_format | default "Jan 2006") }}
                    {{ if .date_end}}
                    – {{ (time .date_end).Format ($page.Params.date_format | default "Jan 2006") }}
                    {{end}}
                  </div>
                  <div class="col-md-8">
                  {{with .description}}
                    <div class="card-text">{{. | markdownify | emojify}}</div>
                  {{end}}     
                </div>
              </article>
            {{end}}
        </div>

        <div id="Given" class="tabcontent"> <!-- past  tab content-->
        {{ range last 3 (sort $page.Params.item ".date_start" "desc") }}    
          <article class="row">                             
                  <div class="col-md-1">
                      <img src="{{ .clientThumb | absURL }}" class="img-responsive" alt="client-image">                 
                  </div>
                  <div class="col-md-3">
                    <h4 class="card-title exp-title text-muted my-0">{{.title | markdownify | emojify}}</h4>                                                      
                    {{- .company | markdownify | emojify -}}                   
                    <!--<span class="middot-divider"></span>-->
                    {{ (time .date_start).Format ($page.Params.date_format | default "Jan 2006") }}
                    {{ if .date_end}}
                    – {{ (time .date_end).Format ($page.Params.date_format | default "Jan 2006") }}
                    {{end}}
                  </div>
                  <div class="col-md-8">
                  {{with .description}}
                    <div class="card-text">{{. | markdownify | emojify}}</div>
                  {{end}}     
                </div>
              </article>
        {{end}}
        </div>
     </div>
    </div>
    {{end}}