<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">About</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Shahid Shah is an award-winning Government 2.0, Health IT, Bio IT & digital Medical Device Inventor & CTO with over 28 years of technology strategy, architecture, engineering, entrepreneurship, speaking, and writing experience.</p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Pages</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="http://www.linkedin.com/in/ShahidShah" target="blank">Profile</a>
          </p>
          <p>
            <a href="/speaking-schedule">Speaking Schedule</a>
          </p>
          <p>
            <a href="https://speakerdeck.com/shah/" target="blank">Speaker Decks</a>
          </p>
          <!-- <p>
            <a href="https://newsle.com/shah" target="blank">Publications</a>
          </p> -->
          <!-- <p>
             <a href="#!">Social Media</a>
          </p> -->
          <p>
              <a href="https://www.netspective.com/netspective-tv/" target="blank">Videos</a>
          </p>
          <!-- <p>
              <a href="#!">Portfolio</a>
          </p> -->
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <!-- <p>
            <a href="#!">shahid.shah.org</a>
          </p> -->
          <p>
            <a href="https://www.healthcareguy.com/" target="_blank">www.HealthcareGuy.com</a>
          </p>
          <p>
            <a href="">www.ShahidShah.com</a>
          </p>
          <!-- <p>
            <a href="#!">www.shahid.io</a>
          </p> -->
          <p>
            <a href="http://www.federalarchitect.com/" target="_blank">www.FederalArchitect.com</a>
          </p>
          <!-- <p>
            <a href="#!">www.about.me</a>
          </p> -->
          <p>
            <a href="https://speakerdeck.com/shah/" target="_blank">www.speakerdeck.com</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
           {{ if isset site.Params "email" }}
              <i class="fas fa-envelope mr-1"> </i>  
              <a href="mailto:{{ site.Params.email }}" class="footer-contact-sh">
                {{ site.Params.email }}
              </a>
           {{ end }}
          </p>
          <p>
          {{ if isset site.Params "phone" }}  
          <i class="fas fa-phone mr-1"></i> 
            {{ site.Params.phone }}
          {{ end }}
         </p>
          <p>
          {{ if isset site.Params "address" }}  
          <i class="fas fa-map-marker mr-1"></i> 
            {{ site.Params.address }}
          {{ end }}
         </p>
          <p>
          {{ if isset site.Params "office_hours" }} 
          <i class="fas fa-clock mr-1"></i> 
            {{ site.Params.office_hours }}
          {{ end }}
         </p>
          <p>
            <i class="fab fa-skype mr-1" aria-hidden="true"></i>
            {{ if isset site.Params "appointment_url" }}  
                {{ site.Params.appointment_url }}
            {{ else }}
            <a href="skype:ShahidNShah?call" class="footer-contact-sh">ShahidNShah</a>
            {{ end }}
          </p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© {{ dateFormat "2006" now }}
      <a href=""> www.ShahidShah.com</a>
      <br>
      All rights Reserved
      {{ if ne .Type "docs" }}
      <span class="float-right" aria-hidden="true">
        <a href="#" id="back_to_top">
          <span class="button_icon">
            <i class="fas fa-chevron-up fa-2x"></i>
          </span>
        </a>
      </span>
      {{ end }}
    </div>
    
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

  


    